<!-- Container Start -->
<div class="container m-5 p-2 rounded mx-auto bg-light shadow">
  <div class="login-bg container">
    <div class="login-page">
      <div class="login-block">
        <div class="text-center">
          <h2>The GroceryApp</h2>
          <img alt="" class="img-fluid lazyload" src="assets/images/logo.png" title="" width="80"/>
      </div>
        <div *ngIf="isloginError" class="error text-center">{{loginError}}</div>
        <form [formGroup]="loginForm">
          <div class="h4 mb-4 fw-bold text-center">Sign In</div>
          <div class="form-group mb-2">
            <input class="form-control" formControlName="username" name="" placeholder="Eamil" type="text"/>
          </div>
          <div class="mb-3">
            <span *ngIf="submitted && f.username?.errors?.required" class="text-danger">
            * Username required
            </span>
          </div>
          <div class="form-group mb-3">
            <input class="form-control" formControlName="password" name="" placeholder="Password" type="password"/>
          </div>
          <div class="mb-3">
            <span *ngIf="submitted && f.password?.errors?.required" class="text-danger mb-3">
              * Password is required
          </span>
          </div>
          <button (click)="login()" class="btn btn-lg w-100 mb-3" type="submit">Sign In</button>
          <div class="text-center login-link"><a [routerLink]="['/auth', 'user', 'signup']">Signup</a>
            <span class="mx-3">|</span> <a [routerLink]="['/auth', 'user', 'password-reset']">Forgot
              Password?</a></div>
        </form>
      </div>
    </div>
  </div><!-- Container End -->
</div>
