<div class="pagination" *ngIf="!do_not_load">
    <ul>
      <li *ngIf="current_page -1  > 0"><a  (click)="page(current_page-1)">Previous</a></li>
      <li *ngIf="current_page -2  > 0" ><a  (click)="page(current_page-2)">{{current_page-2}}</a> </li>
      <li *ngIf="current_page -1  > 0" ><a  (click)="page(current_page-1)">{{current_page-1}}</a> </li>
      <li> <a  disabled="disabled" class="active" (click)="page(current_page)">{{current_page}}</a></li>
      <li *ngIf="current_page +1  <= total_pages" ><a  (click)="page(current_page +1)">{{current_page+1}}</a> </li>
      <li *ngIf="current_page +2  < total_pages" ><a  (click)="page(current_page +2)">{{current_page+2}}</a> </li>
      <li *ngIf="current_page +1  <= total_pages"><a (click)="page(current_page +1)">Next </a></li>
    </ul>
</div>
  