<!-- Container Start -->
<div class="login-bg"  *ngIf="!isPassReset && !userId">
  <div class="login-page">
    <div class="logo">
      <a href="">
        <img src="assets/images/logo.png" alt="" title="" class="img-fluid lazyload"/>
      </a>
    </div>
    <div class="login-block">
      <form>
        <div class="h4 mb-4 fw-bold text-center">Reset Password</div>
        <div class="form-group mb-4">
          <input type="text" name="email" class="form-control" placeholder="Email" [ngModel]="email" (ngModelChange)="onChange($event)"/>
        </div>
        <div class="mb-3">
            <span class="text-danger error" *ngIf="isEmailError">
            {{emailErrorMsg}}
            </span>
         </div>
        <button class="btn btn-lg w-100 mb-3" [disabled]="!isvalidated"  (click)="resetPassword()" type="submit">Reset Password</button>
        <div class="text-center login-link">
          <a [routerLink]="['/auth', 'user', 'login']">Login</a>
          <span class="mx-3">|</span>
          <a [routerLink]="['/auth', 'user', 'signup']">Signup</a></div>
      </form>
    </div>
  </div>
</div><!-- Container End -->

<div class="login-bg"  *ngIf="isPassReset">
  <div class="login-page">
    <div class="login-block">
      <form>
        <h4 class="text-success p-1 text-center">
          We have sent you an email, Please check your email for password reset instructions
        </h4>
      </form>
    </div>
  </div>
</div>

<!--reset block start-->
<!-- Container Start -->
<div class="login-bg" *ngIf="userId">
  <div class="login-page">
    <div class="logo">
      <a href="">
        <img src="assets/images/logo.png" alt="" title="" class="img-fluid lazyload"/>
      </a>
    </div>
    <div class="login-block">
      <form>
        <div class="h4 mb-4 fw-bold text-center">Create New Password</div>
        <div class="form-group mb-2">
           <input type="password" class="form-control" name="password" placeholder="Password" [ngModel]="password" (ngModelChange)="onPasswordChange($event, 'pass')">
        </div>
        <div class="form-group mb-3">
          <input type="password" class="form-control" name="confirmPass" placeholder="Confirm password"
            [ngModel]="confirmPass" (ngModelChange)="onPasswordChange($event, 'confpass')">
        </div>
        <div class="mb-3">
            <span class="text-danger error" *ngIf="setPasswordError">
              {{passwordErrorStr}}
            </span>
         </div>
        <button class="btn btn-lg w-100 mb-3" (click)="setPassword()" type="submit" [disabled]="setPasswordError">Change</button>
        <div class="text-center login-link">
          <a [routerLink]="['/auth', 'user', 'signup']">Signup</a>
          <span class="mx-3">|</span>
          <a [routerLink]="['/auth', 'user', 'login']">login</a></div>
      </form>
    </div>
  </div>
</div><!-- Container End -->

<!--reset block end-->
